<h1>{{meassage}}</h1>
<div class="d-flex justify-content-center pb-5"
<div class="col-12">
<div class=" card col-6">
    <img  src="/images/Menu/{{meal.imageUrl}}"  class="card-img-top" alt="Image of {{title}} " style="max-height: 400px;">
     
        <div class="row car-body">
<div class="col-sm-6 text-center fs-3 p-3">Servings-{{meal.servings}} </div>
<div class="col-sm-6 text-center fs-3 p-3"> Cooking-time-{{meal.cookingTime}}</div>
        </div>
        
        
         <div class="fs-3 p-3 text-center col">{{meal.title}}</div>
         <div class=" fs-4 px-2 col">{{meal.desc}}</div>
         <div class="price d-flex flex-row-reverse p-3"><a class="px-3 fs-3" href="/customer/add-meal/:{{meal.title}}" >Add to Order ${{meal.price}}</a></div>
    </div>
   
</div>
           
 </div>